<div class="d-flex align-items-center justify-content-end mb-4">
    <button class="btn btn-primary btn-md mx-1" data-bs-toggle="modal" data-bs-target="#add-hostel">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus"
            viewBox="0 0 16 16">
            <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
        </svg>
        Add Room
    </button>

</div>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Rooms</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let room of rooms; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ room?.name }}</td>
                <td>
                    <button class="btn btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#edit-room" (click)="editRoom(room)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                        </svg>
                        Edit
                    </button>
                    <button class="btn btn-danger" (click)="deleteRoom(room?.id)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                        </svg>
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-primary d-block mx-auto w-50 mt-4" (click)="loadMore()" *ngIf="next">
        Load More
    </button>

</div>

<div class="modal fade" tabindex="-1" id="add-hostel">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Room</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label for="hostel" class="form-label">Hostel</label>
                                    <select class="form-select" aria-label="Default select example" id="hostel" name="hostel" (change)="selectHostel($event)" required>
                                        <option value="" selected>-- Select Hostel --</option>
                                        <option [value]="hostel?.id" *ngFor="let hostel of hostels;">{{ hostel?.name }}</option>
                                    </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label for="hostel" class="form-label">Room Name</label>
                                <input type="text" class="form-control" id="room" name="room" [(ngModel)]="room">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addRoom()">Submit</button>
            </div>
        </div>
    </div>
</div>



<!-- Edit Room -->
<div class="modal fade" tabindex="-1" id="edit-room">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Room</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label for="hostel" class="form-label">Hostel</label>
                                    <select class="form-select" aria-label="Default select example" id="hostel" name="hostel" (change)="selectHostel($event)" required>
                                        <option value="">-- Select Hostel --</option>
                                        <option [value]="hostel?.id" *ngFor="let hostel of hostels;" [selected]="(hostel?.id === editedRoom.hostel)">{{ hostel?.name }}</option>
                                    </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label for="hostel" class="form-label">Room Name</label>
                                <input type="text" class="form-control" id="room" name="room" [(ngModel)]="editedRoom.name">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addRoom()">Submit</button>
            </div>
        </div>
    </div>
</div>