
<div>

    <div class="loading-overlay" *ngIf="isLoading">
        <div class="spinner spinner-border text-success" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div *ngIf="!loginUrl('/login')">
        <app-sidebar></app-sidebar>
    </div>

    <div [ngClass]="{'contents': !loginUrl('/login')}">
        
        <app-header *ngIf="!loginUrl('/login')"></app-header>

        <div [ngClass]="{'mt-4': !loginUrl('/login')}">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>